
#Register {
  width: 100%;
  position: relative;
}
#Register #JQprint {
  width: 100%;
}
#Register #JQprint .header {
  width: 810px;
  height: 70px;
  margin: 0 20px;
  text-align: center;
}
#Register #JQprint .header .barcode {
  float: left;
  width: 190px;
  height: 70px;
  padding: 0 15px;
}
#Register #JQprint .header .title {
  display: inline-block;
  line-height: 70px;
  font-size: 20px;
}
#Register #JQprint .header .unit {
  display: inline-block;
  float: right;
  padding: 6px 15px;
  margin-top: 42px;
}
#Register #JQprint #Table {
  width: 810px;
  margin: 0 20px;
}
#Register #JQprint #Table .selects {
  width: 100%;
}
#Register #JQprint #Table .selects .tabs {
  width: 100%;
  border: 1px solid #dfe6ec;
  border-right-color: #fff;
  border-bottom-color: #fff;
}
#Register #JQprint #Table .selects .tabs .list li {
  float: left;
  padding: 6px 10px;
}
#Register #JQprint #Table .selects .tabs .list li .ipts {
  width: 16px;
  height: 14px;
  vertical-align: middle;
}
#Register #JQprint #Table .selects .tabs .list li .labs {
  padding-left: 5px;
  vertical-align: middle;
}
#Register #JQprint #Table .selects .tabs td {
  height: 14px;
  padding: 6px;
  border-bottom: 1px solid #dfe6ec;
  border-right: 1px solid #dfe6ec;
  min-width: 70px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
}
#Register #JQprint #Table .selects .tabs .td_w {
  width: 22px;
  border-bottom: none;
  padding: 10px 4px;
  text-align: center;
  vertical-align: middle;
}
#Register #JQprint #Table .selects .tabs .td_w .title {
  display: inline-block;
  width: 15px;
}
#Register #JQprint #Table .selects .tabs .tabs0 {
  width: 100%;
}
#Register #JQprint #Table .selects .tabs .tabs0 tr td:last-child {
  border-right: none;
}
#Register #JQprint #Table .selects .tabs .tabs0 .tabs1 {
  width: 100%;
}
#Register #JQprint #Table .selects .tabs .tabs0 .tabs1 tr:last-child td {
  border-bottom: none;
}
#Register #JQprint #Table .selects .tabs .tb_dashed td {
  border-bottom: 1px dashed #dfe6ec;
}
#Register #JQprint #Table .selects .tabs .tb_text td {
  text-align: left;
}
#Register #JQprint #Table .selects .tabs .tb_text td .check {
  vertical-align: middle;
}
#Register #JQprint #Table .selects .tabs .tb_text td .text {
  vertical-align: middle;
  padding: 0 4px;
}
#Register .info {
  width: 100%;
  margin-top: 20px;
  padding-left: 20PX;
}
#Register .info li {
  padding: 4px 15px;
}
#Register .print {
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 72px;
}
